body {
    font-family: 'Asap', sans-serif;
    line-height: 1.4;
}

h1 {
    border-left: 5px solid #007BFF;
    padding-left: 2rem;
    color: #007BFF;
}

h2 {
    border-left: 5px solid #F44336;
    padding-left: 1rem;
    font-size: 1.75rem;
    color: #F44336;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}

h5 {
    color: #007BFF;
}

header, section {
    padding: 0.5rem;
}

.section-stripe {
    background-color: #F9F9F9;
}

ion-icon {
    vertical-align: middle;
}

section {
    padding: 0.5rem;
}

ul {
    margin-bottom: 0.5rem;
}

ul li {
    font-size: 0.95em;
}

a {
    text-decoration: none;
}

.badge-default {
    border: 0;
    background-color: #FAFAFA;
}
